
.section-row{
    padding-left: 5px;
}


#id_objective_scope, #id_research_methodology, #id_literature_review, 
#id_communication_skills, #id_comment, #id_secret, #id_project_methodology,
#id_preliminary_result, #id_problem_statement, #id_result_discussion,
#id_hardware, #id_software, #id_packaging, #id_functionality,#id_simulation,
#id_conclusion{
    border: none;
    font-size: 1rem;
    outline: none;
    width: 100%;
    padding-left: 5px;
}

.details{
    width: 100%;
    margin-left: 1rem;
}

.detail-title, .detail-value, .evaluation-title, .evaluation-item{
    color: rgba(0, 0, 0, 0.5);
}

.detail-title{
    margin-right: 0.5rem;
    font-weight: 650;
    font-size: 1.1rem;
}

.detail-value{
    font-weight: 350;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

.evaluation-title{
    font-weight: 700;
    font-size: 1rem;
}

.evaluation-item{
    margin: 20px 10px 20px 0;
    font-size: 0.95rem;
}


@media only screen and (max-width: 430px) {

    .detail-title{
        margin-right: 0.15rem;
        font-weight: 650;
        font-size: 0.95rem;
    }

    .detail-value{
        font-size: 0.95rem;
    }


    .section-title{
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .input-title {
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.502) ;
        margin: 0 0 5px 0 ;
    }
}