{% extends 'components/dashboard/home.html' %}
{% load static %}


{% block additional_styles %}
    <link rel="stylesheet" href="{% static "styles/components/dashboard/home.css" %}">
{% endblock additional_styles %}
    
{% block dashboard_title %}
    Home
{% endblock dashboard_title %} 

{% block dashboard_user %} 
    Cordinator
{% endblock dashboard_user %} 


{% block dashboard_content %}
    <div class="summary d-flex flex-column">

        <div class="body-section-title">
            {{session}} Session Summary
        </div>

        <div class="summary-row d-flex flex-wrap mt-3 ">
            <div class="item d-flex flex-row align-items-center">
                <div class="item-img d-flex align-items-center">
                    <img src="{% static 'imgs/svg/group.svg' %}" alt="" srcset="">
                </div>
                <div class="item-value d-flex flex-column">
                    <div class="item-val-text">Total Students</div>
                    <div class="item-val-text">{{total_students}}</div>
                </div>
            </div>

            <div class="space-x"></div>

            <div class="item d-flex flex-row align-items-center">
                <div class="item-img d-flex align-items-center">
                    <img src="{% static 'imgs/svg/group.svg' %}" alt="" srcset="">
                </div>
                <div class="item-value d-flex flex-column">
                    <div class="item-val-text">Students with approved topics</div>
                    <div class="item-val-text">{{approved_topics}} / {{total_students}}</div>
                </div>
            </div>

            <div class="space-x"></div>
        </div>

        <div class=" summary-row d-flex flex-wrap mt-3">
            <div class="item d-flex flex-row align-items-center">
                <div class="item-img d-flex align-items-center">
                    <img src="{% static 'imgs/svg/staff.svg' %}" alt="" srcset="">
                </div>
                <div class="item-value d-flex flex-column">
                    <div class="item-val-text">Total Staffs</div>
                    <div class="item-val-text">{{total_staffs}}</div>
                </div>
            </div>

            <div class="space-x"></div>

            <div class="item d-flex flex-row align-items-center">
                <div class="item-img d-flex align-items-center">
                    <img src="{% static 'imgs/svg/group.svg' %}" alt="" srcset="">
                </div>
                <div class="item-value d-flex flex-column">
                    <div class="item-val-text">Total Evaluators</div>
                    <div class="item-val-text">{{total_evaluators}}</div>
                </div>
            </div>


        </div>
    </div>

    <div class="quick-links-wrapper d-flex flex-column">
        <div class="body-section-title">
            Quick Links
        </div>
        <div class="d-flex flex-wrap mt-3">
            <div class="quick-link-wrapper d-flex flex-row align-items-center">
                <div class="quick-link-icon">
                    <img src="{% static 'imgs/svg/calendar_add_on.svg' %}" alt="" srcset="">
                </div>
                <div class="quick-link">
                    Create Session
                </div>
            </div>
            <div class="space-x"></div>
            <div class="quick-link-wrapper d-flex flex-row align-items-center">
                <div class="quick-link-icon">
                    <img src="{% static 'imgs/svg/bar_chart.svg' %}" alt="" srcset="">
                </div>
                <div class="quick-link">
                    Grade Student
                </div>
            </div>
            <div class="space-x"></div>
            <div class="quick-link-wrapper d-flex flex-row align-items-center">
                <div class="quick-link-icon">
                    <img src="{% static 'imgs/svg/lock_reset.svg' %}" alt="" srcset="">
                </div>
                <div class="quick-link">
                    Reset Staff Secret Phrase
                </div>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}
