{% load static %}

<div class="nav-panel d-flex flex-column">
    <div class="logo-wrapper d-flex flex-row align-items-center">
        <div class="logo"> 
            <img src="{% static 'imgs/nacome_logo.png' %}" alt="">
        </div>
        <div class="logo-text">
            CPE FY Project Grader
        </div>
    </div>

    <div class="links-wrapper d-flex flex-column align-items-center">

        {% for item in navs  %}      
            {% if item.0 %}
                <a href="{{item.2}}" class="link-wrapper d-flex flex-row align-items-center active-link">
                    <div class="link-icon">
                        <img src="{% static 'imgs/svg/' %}{{item.1}}" alt="">
                    </div>
                    <div>{{ item.3 }}</div>
                </a>
            {% else %}
                <a href="{{item.2}}" class="link-wrapper d-flex flex-row align-items-center">
                    <div class="link-icon">
                        <img src="{% static 'imgs/svg/' %}{{item.1}}" alt="">
                    </div>
                    <div class="link">
                        {{ item.3 }}
                    </div>
                </a>
            {% endif %}
        {% endfor %}

        <a href="{% url "authentication:logout" %}" class="logout d-flex flex-row ">
            <div class="link-icon">
                <img src="{% static 'imgs/svg/exit.svg' %}" alt="">
            </div>
            <div class="link">Logout</div>
        </a>
    </div>
</div>