
.main-body{
    width: 80%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.body-head{
    margin: 8% 0 0 0;
}

.body-section-title{
    margin-top: 4%;
    margin-right: 8%;
    font-weight: 500;
    font-size: 1.1rem;
    color: #02a2f3;
}

.section-title{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 1.5rem 0 0.1rem;
    border-bottom: 1.5px solid #d7d7d7;
    font-family: "Inter" sans-serif;
}

.fut-logo > img{
    height: 3rem;
}


.summary{
    margin: 2% 8% 0 0;
    /* border: 1px solid red; */
}


.item{
    padding: 2rem 4rem 2rem 1.3rem;
    /* border: 1px solid green; */
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem #d9d9d9;
}


.item-img{
    background-color: #f6f6f6;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 0.5rem;

}

.item-img > img {
    height: 4vh;
}

.item-value{
    font-size: 0.95rem;
    font-weight: 700;
    font-family:'Inter', sans-serif
}

.space-x{
    width: 1.5rem;
}

.space-y{
    height: 2rem;
    width: 1px;
}


/* Quick link styles */

.quick-link-wrapper{
    border-radius: 10px;
    padding: 1% 2%;
    cursor: pointer;
    box-shadow: 0 .125rem .25rem #D9D9D9;
}

.quick-link-icon{
    background-color: #f6f6f6;
    border-radius: 50%;
    padding: 0.6rem;
    margin-right: 0.5rem;
}

.quick-link-icon > img{
    height: 3.2vh;
}

.quick-link{
    font-size: 0.8rem;
    font-weight: 550;
    font-family:'Inter', sans-serif
}