
/* nave link sytles */
#active {
    background-color: #02a2f3;
    color: white;
    border-radius:0 10px 10px 0 ;
}



/* Mobile nav bar styles */
.mobile-nav{
    display: none !important;
    z-index: 1;
    position: fixed;
    padding: 0 5%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 10vh !important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .125rem .25rem #777676;
}

.mobile-nav-panel {
    display: none;
    transition: ease-in-out;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
}

.mobile-nav-wrapper{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 0 10px 10px 0;

}

#menu-icon > img{
    height: 3vh;
}

#close {
    height: 3vh;
    margin-top: 5rem;
}




.nav-panel{
    margin: auto;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 .125rem .25rem #777676;
    height: 98%;
    width: 20%;
    /* border: 1px solid green; */
}

.logo-wrapper{
    margin-top: 4rem;
}

.logo > img{
    height: 4rem;
}

.logo-text {
    color: #02a2f3;
    font-family: 'Inter' sans-serif;
    font-weight: 700;
}


.links-wrapper{
    margin-top: 4rem;
}

.links-wrapper > a{
    text-decoration: none;
    cursor: pointer;
}

.link-wrapper{
    padding-left:20% ;
    font-weight: 500;
    height: 8vh;
    width: 100%;
    cursor: pointer;
    /* justify-content: center; */
}

.link-wrapper:hover{
    color: #ffffff;
    background-color: #45c1ff;
    border-radius: 0 10px 10px 0;
}

.link-wrapper:hover > .link-icon > img{
    color: white;
}

.link-wrapper:hover > .link {
    color: white;
}

.link-icon{
    margin-right:0.3rem;
    color: rgb(30, 30, 30);
}

.link-icon > img{
    height: 1.3rem;
    color: rgb(30, 30, 30);
}

.link, .active-link{
    font-size: 1rem;
    font-family: 'Inter' sans-serif;
}

.link {
    color: rgb(30, 30, 30);
}

.active-link {
    background-color: #02a2f3;
    border-radius: 0 10px 10px 0 ;
    color: white;
}

.active-link:hover{
    color: #ffffff;
    background-color: #45c1ff;
    border-radius: 0 10px 10px 0;
}


.logout {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10%;
    left: 0%;
    height: 8vh;
    width: 10%;
    cursor: pointer;
    margin-left: 4.3% ;
    transform: translate(0% -50%);
}


@media only screen and (max-width: 950px) {
    .nav-panel {
        display: none !important;
    }

    .mobile-nav{
        display: flex !important;

    }

    .mobile-nav-panel {
        display: none;
        transition: display 0.3s ease-in-out;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.116);
    }

    .mobile-nav-wrapper{
        width: 50%;
        height: 100%;
        background-color: white;
        border-radius: 0 10px 10px 0;
        font-size: 0.7rem;

    }

    .link, .link-icon{
        font-size: 0.8rem;
    }


    .main-body{
        margin-top: 10.5vh;
    }

    #admin-title{
        font-size: 0.8rem ;
    }

    .fut-logo > img{
        height: 1.5rem;
    }
}