/* @import url("/static/fonts/Inter/static/Inter-Bold.ttf");
@import url("/static/fonts/Inter/static/Inter-SemiBold.ttf");
@import url("/static/fonts/Inter/static/Inter-Regular.ttf");

@import url("/static/fonts/Roboto/Roboto-Regular.ttf");
@import url("/static/fonts/Roboto/Roboto-Light.ttf"); */



/* style information */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#brand{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    color: rgba(0, 0, 0, 0.282);
}