{% extends 'base.html' %}
{% load static %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static "styles/components/form.css"%}">
    {% block child_style %}{% endblock child_style %}
{% endblock custom_styles %}

{% block body %}
    <main>
        <div class="form-wrapper d-flex flex-column">
            <div class="form-head">
                <img id="form--bg-image" src="{% static 'imgs/form-head-img.png' %}" alt="">
            </div>
            {% block form_body %}{% endblock form_body %}
        </div>
    </main>

{% endblock body %}